html
    font-size: 10px

body
    font-size: 25px

.container

.open-button
    text-align: center
    vertical-align: middle
    button
        width: 15rem
        height: 5rem
        border-radius: 5px
        font-size: 2.5rem

.modal-open
	overflow: hidden
	padding-right: 0 !important

.form
    &-control
        font-size: 2rem
    &-submit
        padding-top: 2rem
        text-align: center
        button
            font-size: inherit